# OSX
.DS_Store

# Android/IJ
.idea
.gradle
local.properties
.project

# node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# project
database/db.config.js
public/dist/
logs/
run/
config/db.config.js
